<p style="color: green"><%= notice %></p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @friend.first_name %> <%= @friend.last_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @friend.email %></h6>
    <p>
      <strong>Phone:</strong>
      <%= @friend.phone %>
    </p>
    <p>
      <strong>Twitter:</strong>
      <%= @friend.twitter %>
    </p>
  </div>
</div>
<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-info" %> |
  <%= link_to "Back to friends", friends_path, class:"btn btn-warning" %>
  <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger" %>
</div>
